*{
  font-family: 'Poppins' , sans-serif;
}

html{
  scroll-behavior: smooth;
}

/*scrollbar*/
body::-webkit-scrollbar{
  display: none;
  scroll: smooth;
}


/* span:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: red;
  border-left: 2px solid #0ef;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate{
  50%, 50%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
} */

/* #typed{
    width: 100%;
    height: 100vh;
    margin: 5px;
    padding: 10px;
} */

nav ul li::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #0ef;
  transition: width 0.4s;
}

nav ul li:hover::after{
  width: 70%; /*width of the line on hover*/
  border-radius: 5px;
}


/* padding: 10px 12%;
text-align: center;
font-size: 18px;
} */
/* .faq h2{
font-weight: 600;
font-size: 40px;
} */
.accordion{
 margin: 60px auto;
 width: 100%;
 max-width: 750px;
}
.accordion li{
list-style: none;
width: 100%;
padding: 5px;
}
.accordion li label{
display: flex;
align-items: center;
padding: 20px; 
/* font-size: 18px;
font-weight: 500; */
background: #303033;
margin-bottom: 2px;
cursor: pointer;
position: relative;

}
label::after{
content: '+';
font-size: 28px;
position: absolute;
right: 20px;
transition: transform 0.5s;
}
input[type="radio"]{
display: none;
}
.accordion .content {
background: #303033;
text-align: left;
padding: 0 20px;
max-height: 0;
overflow: hidden;
transition: max-height 0.5s, padding 0.5s;

}
.accordion input[type="radio"]:checked + label + .content{
max-height: 600px;
padding: 30px 20px;

}
.accordion input[type="radio"]:checked + label::after{
transform: rotate(135deg);
}
.faq .email-signup{
max-width: 600px;
margin: 20px auto 60px;
}
.faq small{
font-size: 13px;
}
.faq .email-signup button::after{
content: '>';
font-size: 0px;
position: absolute;
right: 12px;
}

br {
  content: "";
  margin: 1px;
  display: block;
  font-size: 10%;
}

/* .loader {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  } */
  
  /* @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
    */