<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More</title><link rel="icon" href="/static/logo/logo2.jpg" type="title_logo">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/sign.css">
</head>
<body>

<div class="container bg-black w-100 min-h-screen p-5">

    <h1 class="mt-3 mb-2 capitalize text-[#0ef] text-2xl text-center font-semibold">American Sign Language</h1>
    <hr class="w-1/4 mx-auto" />

    <div class="grid grid-cols-4 lg:gap-4 justify-items-center">


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/A/0.jpg" alt="A" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        A
                    </div>
                </div>
            </div>
        </div>

        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/B/0.jpg" alt="B" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        B
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/C/0.jpg" alt="C" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        C
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/D/0.jpg" alt="D" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        D
                    </div>
                </div>
            </div>
        </div>


        


    </div>


    <div class="grid grid-cols-4 lg:gap-4 justify-items-center">


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/E/0.jpg" alt="E" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        E
                    </div>
                </div>
            </div>
        </div>

        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/F/0.jpg" alt="F" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        F
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/G/0.jpg" alt="G" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        G
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/H/0.jpg" alt="H" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        H
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="grid grid-cols-4 lg:gap-4 justify-items-center">


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/I/0.jpg" alt="E" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        I
                    </div>
                </div>
            </div>
        </div>

        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/K/0.jpg" alt="F" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        K
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/L/0.jpg" alt="G" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        L
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/M/0.jpg" alt="H" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        M
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-4 lg:gap-4 justify-items-center">


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/N/0.jpg" alt="E" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        N
                    </div>
                </div>
            </div>
        </div>

        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/O/0.jpg" alt="F" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        O
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/P/0.jpg" alt="G" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        P
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/Q/0.jpg" alt="H" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        Q
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-4 lg:gap-4 justify-items-center">


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/R/0.jpg" alt="E" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        R
                    </div>
                </div>
            </div>
        </div>

        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/S/0.jpg" alt="F" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        S
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/T/0.jpg" alt="G" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        T
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/U/0.jpg" alt="H" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        U
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="grid grid-cols-4 lg:gap-4 justify-items-center">


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/V/0.jpg" alt="E" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        V
                    </div>
                </div>
            </div>
        </div>

        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/W/0.jpg" alt="F" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        W
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/X/0.jpg" alt="G" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        X
                    </div>
                </div>
            </div>
        </div>


        <div class="py-10">
            <div class="rounded overflow-hidden shadow-md shadow-[#0ef] max-w-sm">
                <img src="/static/label_images/Y/0.jpg" alt="H" class="w-full">
                <div class="px-6 py-4">
                    <div class="font-bold text-white text-xl mb-2 text-center">
                        Y
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

    
</body>
</html>